@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    color: #383749;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    color: #383749;
}

a:visited {
    color: #757686;
}

a:hover, a:focus, a:active {
    color: #383749;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex !important;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
     background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.top-header-bar {
    background: #fff;
}


/*
# Site Branding
--------------------------------*/
.site-title {
    padding: 6px 0;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-align: left !important;
}

.site-title a {
    color: #fff;
    text-decoration: none;
}

.site-title a span {
    color: #19c880;
}

@media screen and (min-width: 576px){
    /*.site-title {*/
        /*font-size: 112px;*/
    /*}*/
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-content {
    background: url("images/hero-bg.jpg") no-repeat center;
    background-size: cover;
}

.hero-content-overlay {
    background: rgba(21,20,33,.5);
}

.hero-content-wrap {
    height: 820px;
    padding-top: 130px;
}

.hero-content-wrap h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #19c880;
    letter-spacing: 0.1em;
}

.hero-content-wrap h1 {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 576px){
    .hero-content-wrap h1 {
        font-size: 32px;
    }
}




/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
/*
# Icon Box
--------------------------------*/
.icon-boxes {
    border-bottom: 1px solid #ebebeb;
}

.icon-box {
    width: 25%;
    padding: 50px 60px 50px;
    border-right: 1px solid #ebebeb;
}

@media screen and (max-width: 1440px){
    .icon-box {
        padding: 40px;
    }
}

@media screen and (max-width: 992px) {
    .icon-box {
        width: 50%;
    }

    .icon-box:nth-of-type(2) {
        border-right: 0;
    }

    .icon-box:nth-of-type(1),
    .icon-box:nth-of-type(2) {
        border-bottom: 1px solid #ebebeb;
    }
}

@media screen and (max-width: 576px) {
    .icon-box {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #ebebeb;
    }
}

.icon-box:nth-last-of-type(1) {
    border-right: 0;
}

.icon-box .icon {
    font-size: 42px;
    color: #19c880;
}

a.btn {
    padding: 16px 48px;
    border: 2px solid #34d986;
    border-radius: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #383749;
    text-decoration: none;
}

a.btn:hover {
    color: #fff;
    background: #34d986;
}

/*
# Clients Logos
--------------------------------*/
.clients-logo {
    margin-top: 100px;
    padding: 16px 0;
    background: #f7f7f7;
}

.logo-wrap {
    margin: 16px;
}

/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/

.contact-form,
.contact-info {
    margin-top: 80px;
}

.contact-form h3,
.contact-info h3 {
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 400;
    color: #383749;
}

.contact-form input[type="password"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 18px;
    border: 1px solid #ebebeb;
    background: #f7f7f7;
    color: #383749;
}

.contact-form input[type="password"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form input[type="password"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder {
    color: #c0c1cd;
}

.contact-form input[type="submit"] {
    padding: 16px 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    outline: none;
    cursor: pointer;
    background: #19c880;
}


@media screen and (min-width: 992px) {
    .contact-form {
        padding-right: 40px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-widgets {
    padding: 60px 0;
    color: #757686;
}


.footer-widgets h2 {
    margin-bottom: 40px;
    font-size: 20px;
    color: #383749;
}

.footer-widgets ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-widgets ul li {
    margin-bottom: 12px;
}

.footer-widgets ul li a {
    color: #757686;
    text-decoration: none;
}

.footer-widgets ul li a:hover {
    color: #34d986;
}

.footer-widgets .follow-us .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}

.footer-widgets .follow-us .fa-facebook {
    background: #4b6cd0;
}

.footer-widgets .follow-us .fa-google-plus {
    background: #f03b3b;
}

.footer-widgets .follow-us .fa-instagram {
    background: #bb8950;
}

.footer-widgets .follow-us .fa-twitter {
    background: #49a7f3;
}

.footer-bar {
    padding: 30px 0;
    border-top: 1px solid #ebebeb;
}

.footer-bar .download-apps a {
    display: block;
    margin-right: 10px;
}

.footer-bar .download-apps a img {
    display: block;
}

.footer-bar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-bar-nav ul li {
    margin-left: 30px;
}

@media screen and (max-width: 992px) {
    .footer-bar-nav ul li {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.footer-bar-nav ul li a {
    color: #757686;
    text-decoration: none;
}

.footer-bar-nav ul li a:hover {
    color: #34d986;
}
